<%-include ("../Includes/Admin/head.ejs")%>

  <body>
    <%-include ("../Includes/Admin/header.ejs")%>
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/students">
              <i class="bi bi-people"></i>
              <span>Manage Students</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/faculty">
              <i class="bi bi-person-vcard"></i>
              <span>Manage Faculty</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/attendance">
              <i class="bi bi-table"></i>
              <span>Attendance</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#book-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-book-half"></i><span>Books</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="book-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
              <li>
                <a href="/admin/all_books">
                  <i class="bi bi-circle"></i><span>All Books</span>
                </a>
              </li>
              <li>
                <a href="/admin/issued_books">
                  <i class="bi bi-circle"></i><span>Currently Issued</span>
                </a>
              </li>
              <li>
                <a href="/admin/issue_request">
                  <i class="bi bi-circle"></i><span>Issued Request</span>
                </a>
              </li>
              <li>
                <a href="/admin/renew_request">
                  <i class="bi bi-circle"></i><span>Renew Request</span>
                </a>
              </li>
              <li>
                <a href="/admin/return_request">
                  <i class="bi bi-circle"></i><span>Return Request</span>
                </a>
              </li>


              <li>
                <a href="/admin/recommendations">
                  <i class="bi bi-check-circle"></i>
                  <span>Recommendations</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/messages">
              <i class="bi bi-chat"></i>
              <span>Messages</span>
            </a>
          </li>

        </ul>
      </aside>
      <!-- End Sidebar-->
      <main id="main" class="main">

        <section class="section profile">
          <div class="row">

            <div class="col-6">
              <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <div class="profile-overview" id="profile-overview">
                    <h5 class="card-title">View Faculty Information</h5>
                    <p class="fw-bold mb-2">
                      Faculty Number : <%=faculty.facultynumber%>
                    </p>
                    <p class="fw-bold mb-2">
                      Name : <%=faculty.name%>
                    </p>
                    <p class="fw-bold mb-2">
                      Gender: <%=faculty.gender%>
                    </p>
                 
                    <p class="fw-bold mb-2">
                      Email : <%=faculty.email%>
                    </p>
                    <p class="fw-bold mb-2">
                      Joined Date : <%=faculty.join_date%>
                    </p>
                    <%  // Count the number of returned books
                    let returnedBookCount = 0;
                    let issuedBookCount = 0;
                    let borrowedBook = 0;
                  
                    for (const book of books) {
                      if (book.status === 'RETURN_APPROVED') {
                        returnedBookCount++;
                      } else if (book.status === 'ISSUED_REJECTED') {
                        issuedBookCount++
                      } else {
                        borrowedBook++
                      }
                    }%>
                    <p class="fw-bold mb-2">
                      Total Borrowed Books : <%=borrowedBook%>
                    </p>
                    <p class="fw-bold mb-2">
                      Total Issued Books : <%=issuedBookCount%>
                    </p>
                    <p class="fw-bold mb-2">
                      Total Returned Books : <%=returnedBookCount%>
                    </p>
                    <%if (faculty.is_verified) {%>
                      <p class="fw-bold mb-2">
                        Status : <span class="badge bg-success">Verified</span>
                      </p>
                      <%} else {%>
                        <p class="fw-bold mb-2">
                          Status : <span class="badge bg-danger">Not Verified</span>
                        </p>
                      <%}%>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <div class="profile-overview" id="profile-overview">
                    <h5 class="card-title">Issued Books</h5>
                    <div class="table-responsive-md">
                      <table id="booksTable" class="table table-hover" style="width:100%">
                        <thead>
                          <tr>
                            <th>No.</th>
                            <th>Book ID</th>
                            <th>Submitted Date</th>
                            <th>Issued Date</th>
                            <th>Due Date</th>
                            <th>Returned Date</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% books.forEach(function(book,index) { %>
                            <tr>
                              <td>
                                <%=index + 1%>
                              </td>
                              <td>
                                <%= book.book_id %>
                              </td>

                              <td>
                                <%= book.submitted_date.toLocaleString('en-US', { year: 'numeric' , month: 'long' ,
                                  day: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: true }) %>
                              </td>
                              <td>
                                <%= book.issue_date ? book.issue_date.toLocaleString('en-US', { year: 'numeric' ,
                                  month: 'long' , day: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: true })
                                  : 'N/A' %>
                              </td>
                              <td>

                                <%= book.due_date ? book.due_date.toLocaleString('en-US', { year: 'numeric' ,
                                  month: 'long' , day: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: true })
                                  : 'N/A' %>

                              </td>
                              <td>
                                <%= book.returned_date ? book.returned_date.toLocaleString('en-US', { year: 'numeric' ,
                                  month: 'long' , day: 'numeric' , hour: 'numeric' , minute: 'numeric' , hour12: true })
                                  : 'N/A' %>
                              </td>
                              <td>

                                <% if (book.status==="RETURN_APPROVED" ) { %>
                                  <span class="badge bg-success">Returned</span>
                                  <% } else if (book.status==="ISSUED_REJECTED" ) { %>
                                    <span class="badge bg-danger">Rejected</span>
                                    <% } else if (book.status==="ISSUED_PENDING" ) { %>
                                      <span class="badge bg-warning">Pending</span>
                                    <% } else { const currentDate=new Date(); const dueDate=new Date(book.due_date); if
                                      (currentDate> dueDate) {
                                      %>
                                      <span class="badge bg-danger">Due Date Exceeded</span>
                                      <% } else { %>
                                        <span class="badge bg-info">Borrowed</span>

                                        <% } } %>

                              </td>
                            </tr>
                            <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </section>

      </main>
      <!-- End #main -->
      <%-include ("../Includes/Admin/script.ejs")%>

        <script>
          $(document).ready(function () {
            $('#booksTable').DataTable();
          });
        </script>

  </body>

  </html>